@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-blue: #005581;
  --color-blue-light: #72CDF4;
  --color-gold: #FFD200;
  --color-gold-light: #FFE552;
  --color-text: #FFFFFF;
  --color-border: #2f3336;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1e8;
  --color-gray-2: #b2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.modal-opened {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -15rem;
  margin-left: -15rem;
  height: 30rem;
  width: 30rem;
  -webkit-transition: all 450ms ease-in-out;
  -moz-transition: all 450ms ease-in-out;
  -ms-transition: all 450ms ease-in-out;
  -o-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.start-animation {
  animation-name: mobile-nav-transition-enter;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  /* width: 2rem;
  height: 2rem;
  background-color: var[--color-gold-light];
  color: transparent;
  overflow: hidden; */
}

@keyframes mobile-nav-transition-enter {
  from {
    position: fixed;
    width: 2rem;
    height: 2rem;
    background-color: var[--color-gold-light];
    color: transparent;
    overflow: hidden;
  }

  to {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -15rem;
    margin-left: -15rem;
    height: 30rem;
    width: 30rem;
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    -ms-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
  }
}