@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* 
  --color-blue: #005581;
  --color-blue-light: #72CDF4;
  --color-gold: #FFD200;
  --color-gold-light: #FFE552;
  --color-text: #FFFFFF;
  --color-border: #2f3336;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1e8;
  --color-gray-2: #b2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b; */
}

body {
  overscroll-behavior-y: none;
}

.dark {
  --color-blue: #005581;
  --color-gold: #FFD200;
  --color-text: #FFFFFF;
  --color-text-2: #FFFFFF;
  --color-border: #2f3336;
  --color-bg: #6c7983;
  --color-system-bg: #242424;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1e8;
  --color-gray-2: #b2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b;
  background-color: #242424;
}

.light {
  --color-blue: #72CDF4;
  --color-gold: #FFD200;
  --color-gold-2: #FFE552;
  --color-text: #242424;
  --color-text-2: #FFFFFF;
  --color-border: #2f3336;
  --color-bg: #dbe1e8;
  --color-system-bg: #f8f8f8;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1e8;
  --color-gray-2: #b2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b;
  background-color: #f8f8f8;
}

.start-animation {
  animation-name: animate-pop;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes animate-pop {
  0% {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -15rem;
    margin-left: -15rem;
    height: 30rem;
    width: 30rem;
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -15rem;
    margin-left: -15rem;
    height: 30rem;
    width: 30rem;
    opacity: 1;
    transform: scale(1, 1);
  }
}

.alert-animation {
  animation-name: alert-animate-pop;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

@keyframes alert-animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}


.toggleDark {
  transform: translateX(1.5rem);
  transition: all 450ms ease-in-out;
  background-color: var(--color-bg);
}

.toggleLight {
  transform: translateX(0rem);
  transition: all 450ms ease-in-out;
  background-color: var(--color-bg);
}

.card-focus {
  border: #0789c9 5px solid;
  animation-name: tilt-shaking;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.btn-focus {
  background-color: #0789c9;
  border: #0789c9 2px solid;
}